{% extends 'BoilrBundle:Default:template5-admin.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block inner_block %}
<div class="span9">
<h2>{{ (opType == 'add')?"Nuova":"Modifica" }} operazione</h2>

<form id="form_operationgroup" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
        <legend>Dettaglio gruppo di controlli</legend>

        {{ form_row(form.name) }}
        {{ form_row(form.descr) }}
    </fieldset>

    <div class="form-actions">
        <a class="btn" href="{{ url('operation_group_list') }}">Torna al dettaglio</a>
        <input class="btn btn-primary" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>
</div>
{% endblock %}