{% set secondaryMenu = 'Amministrazione' %}
{% extends 'BoilrBundle:Default:template5.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

{% block central_block %}
<h2>Gruppi di controlli</h2>

<fieldset>
    <legend>Elenco operazioni "{{ group.name }}"</legend>

    <table>
        <thead>
            <tr>
                <th colspan="2">Ordine</th>
                <th>Descrizione</th>
                <th>Durata (mm)</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
            {% for key,oper in operations %}
            <tr class="{{ cycle(['odd', 'even'], key) }}">
                <td>
                {% if key > 0 %}
                    <a href="{{ url('operation_move', {'id': oper.id, 'dir':'up'}) }}">
                        <span class="ui-icon ui-icon-arrowthick-1-n" title="Sposta su"></span>
                    </a>
                {% endif %}
                </td>
                <td>
                {% if key < count-1 %}
                    <a href="{{ url('operation_move', {'id': oper.id, 'dir':'down'}) }}">
                        <span class="ui-icon ui-icon-arrowthick-1-s" title="Sposta giù"></span>
                    </a>
                {% endif %}
                </td>
                <td>{{ oper.name }}</td>
                <td>{{ oper.timeLength/60 }}</td>
                <td>
                    <a href="{{ url('operation_edit', {oid: oper.id}) }}">
                        <span class="ui-icon ui-icon-pencil" title="Modifica..."></span>
                    </a>
                    <a href="{{ url('operation_delete', {id: oper.id}) }}">
                        <span class="ui-icon ui-icon-trash" title="Elimina"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>

<div style="margin-top: 10px;">
    <ul id="icons" class="ui-widget ui-helper-clearfix">
        <li class="ui-state-default ui-corner-all">
            <a href="{{ url('operation_group_list') }}">
                <span class="ui-icon ui-icon-arrowthick-1-w" title="Torna all'elenco"></span>
            </a>
        </li>
        <li class="ui-state-default ui-corner-all">
            <a href="{{ url('operation_add', {gid: group.id}) }}">
                <span class="ui-icon ui-icon-plusthick" title="Aggiungi operazione..."></span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}