{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Registrazione intervento di manutenzione <small>non programmato</small></h1>
  </div>

  <form id="form_unplanned_interv" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:Person:_anag.html.twig' with {'person': customer, 'allFields': false, 'title': 'Dati cliente'} %}

    <fieldset>
        <legend>Dettagli intervento</legend>

        {{ form_row(form.scheduledDate.date, {'label': 'Data', 'attr': {'class': 'jdate'}}) }}
        {{ form_row(form.scheduledDate.time, {'label': 'Ora'}) }}
    </fieldset>

    <fieldset>
        <legend>Impianti da ispezionare</legend>

        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Selezione</th>
              <th>Controllo</th>
              <th>Seriale</th>
              <th>Descrizione</th>
              <th>Tipologia impianto</th>
              <th>Data installaz.</th>
            </tr>
          </thead>
          <tbody>
            {% for detail in form.details %}
            <tr>
              <td>{{ form_widget(detail.checked) }}</td>
              <td>{{ form_widget(detail.operationGroup) }}</td>
              <td>{{ detail.vars.value.system.code }}</td>
              <td>{{ detail.vars.value.system.descr }}</td>
              <td>{{ detail.vars.value.system.systemType.name }}</td>
              <td>{{ detail.vars.value.system.installDate | localizeddate("medium", "none") }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </fieldset>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Salva" />
        <a class="btn" href="{{ url('show_person', {'id': customer.id}) }}">Annulla</a>
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
/* <![CDATA[ */

    $(function() {

    });

/* ]]> */
</script>
{% endblock %}
