{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <h2>{{ (opType == 'add')?'Aggiunta':'Modifica' }} indirizzo</h2>
  <br>
  <form id="form_address" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:Person:_anag.html.twig' with {'person': person, 'allFields': false} %}

    <fieldset>
      <legend>Dettagli indirizzo</legend>

      {{ form_row(form.type) }}
      {{ form_row(form.street) }}
      {{ form_row(form.city) }}
      {{ form_row(form.province) }}
      {{ form_row(form.postalCode) }}
      {{ form_row(form.state) }}
    </fieldset>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Salva" />
        <a class="btn" href="{{ url('show_person', {'id': person.id}) }}">Annulla</a>
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}
