{% extends 'BoilrBundle:Person:person-base.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block inner_block %}
<div class="span9">
  <form id="form_address" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:Person:_anag.html.twig' with {'person': person, 'allFields': false} %}

    <fieldset>
      <legend>Dettagli indirizzo</legend>

      {{ form_row(form.type) }}
      {{ form_row(form.street) }}
      {{ form_row(form.city) }}
      {{ form_row(form.province) }}
      {{ form_row(form.postalCode) }}
      {{ form_row(form.state) }}
    </fieldset>

    <div class="form-actions">
        <a class="btn" href="{{ url('show_person', {'id': person.id}) }}">Torna al dettaglio</a>
        <input class="btn btn-primary" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}

