{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Associazione tecnico <small>all'intervento</small></h1>
  </div>

  <form id="form_unplanned_interv" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:ManteinanceIntervention:_detail.html.twig' with {'interv': interv} %}

    {{ form_row(form.installer, {'label': 'Tecnico'}) }}
    {{ form_rest(form) }}
    {{ form_errors(form) }}

    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Associa" />
      <a class="btn" href="{{ url('intervention_detail', {id: interv.id}) }}">Annulla</a>
    </div>
  </form>
</div>
{% endblock %}