{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block extra_header %}
<link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/calendar.css') }}"/>
{% endblock %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Elenco interventi <small>{{ title }}</small></h1>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <a class="btn btn-small" href="{{ url('list_all_interventions', {year: prevMonth|date('Y'), month: prevMonth|date('m')} ) }}">
        <i class="icon-arrow-left"></i> Precedente
      </a>
    </div>
    <div class="span3">
      <h2>{{ title }}</h2>
    </div>
    <div class="span3">
      <a class="btn btn-small" href="{{ url('list_all_interventions', {year: nextMonth|date('Y'), month: nextMonth|date('m')} ) }}">
        <i class="icon-arrow-right"></i> Successivo
      </a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span9">
      {{ calendar(year, month, records) }}
    </div>
  </div>
</div>
{% endblock %}