{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Ricerca interventi di manutenzione <small>filtri di ricerca</small></h1>
  </div>

  <form id="form_search_interv" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {{ form_row(form.searchByDate) }}
    {{ form_row(form.startDate, {'attr': {'class': 'jdate'}}) }}
    {{ form_row(form.endDate, {'attr': {'class': 'jdate'}}) }}
    {{ form_row(form.planned) }}
    {{ form_row(form.withoutInstaller, {'label': 'Senza tecnico',
                                        'help_inline': 'Spuntare la casella per visualizzare gli interventi senza un tecnico associato'}) }}
    {{ form_row(form.status) }}

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Cerca</button>
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>

{% if results|length > 0 %}
<br>
<fieldset>
  <legend>Interventi trovati</legend>

  <table id="tblResults" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Data/Ora</th>
        <th>Cliente</th>
        <th>Tecnico</th>
        <th>Stato</th>
        <th>Operaz.</th>
      </tr>
    </thead>
    <tbody>
    {% for interv in results %}
      <tr>
        <td>{{ interv.scheduledDate | localizeddate("medium", "short") }}</td>
        <td><a onclick="fnShowPersonDetail({{ interv.customer.id }})">{{ interv.customer.fullName }}</a></td>
        <td>{{ interv.installer.getFullName()|default('-') }}</td>
        <td>{{ interv.getStatusDescr() }}</td>
        <td>
          <a class="btn btn-mini" href="{{ url('intervention_detail', {id: interv.id}) }}" title="Apri...">
            <i class="icon-folder-open"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</fieldset>

{% include 'BoilrBundle:Person:_details.html.twig' %}
{% endif %}
</div>
{% endblock %}


{% block javascripts %}

<script type="text/javascript">
/* <![CDATA[ */

function fnToggleDates(bValue)
{
    if (bValue) {
        $('#interventionSearchForm_startDate_date').removeAttr('disabled');
        $('#interventionSearchForm_startDate_time_hour').removeAttr('disabled');
        $('#interventionSearchForm_startDate_time_minute').removeAttr('disabled');
        $('#interventionSearchForm_endDate_date').removeAttr('disabled');
        $('#interventionSearchForm_endDate_time_hour').removeAttr('disabled');
        $('#interventionSearchForm_endDate_time_minute').removeAttr('disabled');
    } else {
        $('#interventionSearchForm_startDate_date').attr('disabled', 'disabled');
        $('#interventionSearchForm_startDate_time_hour').attr('disabled', 'disabled');
        $('#interventionSearchForm_startDate_time_minute').attr('disabled', 'disabled');
        $('#interventionSearchForm_endDate_date').attr('disabled', 'disabled');
        $('#interventionSearchForm_endDate_time_hour').attr('disabled', 'disabled');
        $('#interventionSearchForm_endDate_time_minute').attr('disabled', 'disabled');
    }
}

$(function() {
    fnToggleDates( $('#interventionSearchForm_searchByDate').is(':checked') );
    $('#interventionSearchForm_searchByDate').change(
                        function (event) { fnToggleDates( $(event.target).is(':checked') ); });
});

/* ]]> */
</script>

{% endblock %}