{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Dettaglio intervento <small>{{ interv.isPlanned?"programmato":"non programmato" }}</small></h1>
  </div>

  <div class="well-small">
    <h3>Dettaglio cliente</h3>

    <dl class="dl-horizontal">
      {{ mymacro.fieldset_row('Cliente', interv.customer.fullname) }}
      {{ mymacro.fieldset_row('Data intervento', interv.scheduledDate | localizeddate("medium", "short")) }}
      {{ mymacro.fieldset_row('Fine prevista', interv.expectedCloseDate | localizeddate("medium", "short")) }}
      {{ mymacro.fieldset_row('Stato', interv.getStatusDescr()) }}

      {% set closeDate = interv.closeDate?interv.closeDate|localizeddate("medium", "short"):'-' %}
      {{ mymacro.fieldset_row('Data chiusura', closeDate ) }}
      {% if interv.isPlanned %}
        {{ mymacro.fieldset_row('Scadenza contratto', interv.contract.endDate|localizeddate("medium", "none")) }}
      {% endif %}
    </dl>
  </div>

  {% if interv.installer is not null %}
    {% include 'BoilrBundle:Installer:_detail.html.twig' with { 'installer': interv.installer } %}
  {% else %}
    <div class="alert alert-info">Non è stato assegnato alcun installatore all'intervento.</div>
  {% endif %}

  <div class="well-small">
    <h3>Impianti da revisionare</h3>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Matricola</th>
          <th>Descrizione</th>
          <th>Tipologia</th>
          <th>Gruppo controlli</th>
        </tr>
      </thead>
      <tbody>
      {% for detail in interv.details %}
        <tr>
          <td>{{ detail.system.code }}</td>
          <td>{{ detail.system.descr }}</td>
          <td>{{ detail.system.systemType.name }}</td>
          <td>{{ detail.operationGroup.fullDescr }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


  {% if interv.installer is null and interv.isAborted() == false and interv.isConfirmed() == false %}
    <a class="btn btn-small" href="{{ url('add_installer_to_interv', {'id': interv.id}) }}"><i class="icon-plus"></i> Associa installatore</a>
  {% endif %}
  {% if interv.isClosed() == false %}
    <a class="btn btn-small btn-danger" href="{{ url('intervention_abort', {id: interv.id}) }}"><i class="icon-trash icon-white"></i> Annulla</a>
  {% endif %}
  {% if interv.isTentative() == true and interv.isAborted() == false and interv.isClosed() == false %}
    <a class="btn btn-small btn-success" href="{{ url('intervention_confirm', {id: interv.id}) }}"><i class="icon-ok icon-white"></i> Conferma</a>
  {% endif %}
  {% if interv.hasCheckResults %}
    <a class="btn btn-small" href="{{ url('intervention_choose_template', {'id': interv.id}) }}"><i class="icon-list-alt"></i> Genera PDF</a>
    <a class="btn btn-small" href="{{ url('intervention_xml_export', {'id': interv.id}) }}"><i class="icon-download"></i> Genera XML</a>
  {% endif %}
</div>
{% endblock %}
