{% set secondaryMenu = 'Interventi' %}
{% extends 'BoilrBundle:Default:template5.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% block central_block %}
<h2>Dettaglio intervento {{ interv.isPlanned?"programmato":"non programmato" }}</h2>

<fieldset>
    <legend>Dettaglio</legend>

    {{ mymacro.fieldset_row('Cliente', interv.customer.fullname) }}
    {{ mymacro.fieldset_row('Indirizzo', interv.address.address) }}
    {{ mymacro.fieldset_row('Data intervento', interv.originalDate|date('d-m-Y H:i')) }}
    {{ mymacro.fieldset_row('Fine prevista', interv.expectedCloseDate|date('d-m-Y H:i')) }}
    {{ mymacro.fieldset_row('Stato', interv.getStatusDescr()) }}

    {% set closeDate = interv.closeDate?interv.closeDate|date('d-m-Y H:i'):'-' %}
    {{ mymacro.fieldset_row('Data chiusura', closeDate ) }}
    {% if interv.isPlanned %}
        {{ mymacro.fieldset_row('Scadenza contratto', interv.contract.endDate|date('d-m-Y')) }}
    {% endif %}
</fieldset>

<fieldset>
    <legend>Impianto da revisionare</legend>

    {{ mymacro.fieldset_row('Matricola', interv.system.code) }}
    {{ mymacro.fieldset_row('Descrizione', interv.system.descr) }}
    {{ mymacro.fieldset_row('Tipo impianto', interv.system.systemType.name) }}
    {{ mymacro.fieldset_row('Controlli previsti', interv.defaultOperationGroup.fullDescr) }}
</fieldset>

{% if interv.installer is not null %}
    {% include 'BoilrBundle:Person:_anag.html.twig' with { 'person': interv.installer, 'allFields': false, 'title': 'Dati installatore' } %}
{% else %}
    <fieldset>
        <legend>Dati installatore</legend>
        <div>Non è stato assegnato alcun installatore all'intervento</div>
        {% if interv.isAborted() == false %}
        <div style="margin-top: 10px;">
            <ul id="icons" class="ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all">
                    <a href="{{ url('add_installer_to_interv', {'id': interv.id}) }}">
                        <span class="ui-icon ui-icon-plusthick" title="Associa installatore"></span>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </fieldset>
{% endif %}

<fieldset>
    <legend>Operazioni disponibili</legend>
    <button id="btnCancel">Annulla intervento</button>
</fieldset>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    /* <![CDATA[ */

    $(function() {
        {% if interv.isAborted() == false %}
        $('#btnCancel').button({ icons: { primary: "ui-icon-trash" }, text: false })
                       .click(function(event) {
                                    window.location.href = '{{ url('intervention_abort', {id: interv.id}) }}';
                              });
        {% else %}
            $('#btnCancel').button({ icons: { primary: "ui-icon-trash" }, text: false, disabled: true });
        {% endif %}
    });

    /* ]]> */
</script>
{% endblock %}