{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Inserimento nuovo allegato <small>intervento</small></h1>
  </div>

  <form id="form_contract" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    <div class="well">
      <h3>Intervento di riferimento</h3>

      {% include 'BoilrBundle:MaintenanceIntervention:_detail.html.twig' with {'interv': interv} %}
    </div>

    <fieldset>
      <legend>Dettagli allegato</legend>

      {{ form_row(form.name) }}
      {{ form_row(form.document, {'attr': {'class': 'input-file'}}) }}
    </fieldset>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Salva" />
        <a class="btn" href="{{ url('intervention_detail_for_installer', {'id': interv.id }) }}">
          Annulla
        </a>
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}