{% extends 'BoilrBundle:Person:person-base.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block inner_block %}
<div class="span9">
<h2>Dettagli impianto</h2>

<form id="form_system" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:Person:_anag.html.twig' with {'person': person, 'allFields': false} %}

    <fieldset>
        <legend>Dettagli impianto</legend>

        {{ form_row(form.systemType) }}
        {{ form_row(form.product) }}
        {{ form_row(form.address) }}
        {{ form_row(form.installDate, {'attr': {'class': 'jdate'}}) }}
        {{ form_row(form.lastManteinance, {'attr': {'class': 'jdate'}}) }}
        {{ form_row(form.code) }}
        {{ form_row(form.descr) }}
    </fieldset>

    <div class="form-actions">
        <a class="btn" href="{{ url('show_person', {'id': person.id}) }}">Torna al dettaglio</a>
        <input class="btn btn-primary" id="btnSubmit" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>

  <div id="dlgWarn" style="display: none" title="Attenzione">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        Non è stato associato l'impianto ad alcun indirizzo. Proseguire ugualmente?
    </p>
  </div>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    /* <![CDATA[ */

    $(function() {
        $('#dlgWarn').dialog({
            resizable: false,
            width    : 460,
            modal    : true,
            autoOpen : false,
            buttons  : {
                "Annulla": function() { $(this).dialog("close"); },
                "Procedi": function() { $('#form_system').submit(); }
            },
        });

        $('#btnSubmit').click(function(e) {
                if ($('#systemForm_address').val() == "") {
                    $('#dlgWarn').dialog('open');
                    e.preventDefault();
                }
            });
    });

    /* ]]> */
</script>
{% endblock %}
