{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Dettagli impianto</h1>
  </div>

  <form id="form_system" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
      <legend>Dettagli cliente</legend>
      <dl class="dl-horizontal">
        {{ mymacro.fieldset_row('Tipo', person.getTypeAsString()) }}
        {{ mymacro.fieldset_row('Titolo', person.title|default('-')) }}
        {{ mymacro.fieldset_row('Nome', person.name) }}
        {{ mymacro.fieldset_row('Cognome', person.surname) }}
        {{ mymacro.fieldset_row('Codice fiscale', person.fiscalCode|default('-')) }}
        {{ mymacro.fieldset_row('Partita IVA', person.vatCode|default('-')) }}
      </dl>
    </fieldset>

    <fieldset>
        <legend>Dettagli impianto</legend>

        {{ form_row(form.systemType) }}
        {{ form_row(form.defaultInstaller) }}
        {{ form_row(form.product) }}
        {{ form_row(form.address) }}
        {{ form_row(form.installDate, {'attr': {'class': 'jdate'}}) }}
        {{ form_row(form.lastManteinance, {'attr': {'class': 'jdate'}}) }}
        {{ form_row(form.code) }}
        {{ form_row(form.descr) }}
    </fieldset>

    <div class="form-actions">
        <input class="btn btn-primary" id="btnSubmit" type="submit" value="Salva" />
        <a class="btn" href="{{ url('show_person', {'id': person.id}) }}">Annulla</a>
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
/* <![CDATA[ */

function fnUpdateInstallers()
{
  var sysType = $('#systemForm_systemType').val();
  var baseUrl = "{{ url('installers_for_systype') }}";

  if (sysType == "")
    return;

  $.getJSON(baseUrl, {'id': sysType}, function(data) {
      // remove all previous installers and add an empty item
      $('#systemForm_defaultInstaller').find('option').remove()
                                       .end().append($("<option></option>"));

      // retrieve installers list for selected system type
      $.each(data, function(key, val) {
          $('#systemForm_defaultInstaller').append( $("<option></option>")
                                           .attr("value", val.id)
                                           .text(val.fullName) );
      });
  });
}

$(function() {
    var sel = $('#systemForm_defaultInstaller').val();
    if (sel != "") {
      fnUpdateInstallers();
      $('#systemForm_systemType').val(sel);
    }

    $('#systemForm_systemType').change( fnUpdateInstallers );

});

/* ]]> */
</script>
{% endblock %}
