{% extends 'BoilrBundle:Default:template5-admin.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block inner_block %}
<div class="span9">
  <h2>Creazione nuovo schema di manutenzione</h2>

  <form id="form_schema" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
      <legend>Dettagli schema di manutenzione</legend>

        <div><label>Tipo impianto:</label>{{ form_widget(form.systemType) }}</div>
        <div><label>Periodico:</label>{{ form_widget(form.isPeriodic) }}</div>
        <div><label>Frequenza:</label>{{ form_widget(form.freq) }}</div>
        <div><label>Operazioni:</label>{{ form_widget(form.operationGroup) }}</div>
    </fieldset>

    <div class="form-actions">
        <a class="btn" href="{{ url('manteinance_schema_list') }}">
            <i class="icon-arrow-left"></i> Torna al dettaglio
        </a>
        <input class="btn btn-primary" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}