{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}


{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Elenco interventi</h1>
  </div>

  {% if interventions|length > 0 %}
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Data</th>
        <th>Cliente</th>
        <th>Impianto</th>
        <th>Tipo</th>
        <th>Stato.</th>
        <th>Operaz.</th>
      </tr>
    </thead>
    <tbody>
      {% for interv in interventions %}
      <tr>
        <td>{{ interv.scheduledDate | localizeddate("medium", "short") }}</td>
        <td>{{ interv.customer.getFullName() }}</td>
        {% if interv.details|length > 1 %}
        <td colspan="2">{{ interv.details|length }} impianti</td>
        {% else %}
        <td>{{ interv.details[0].system.descr }}</td>
        <td>{{ interv.details[0].system.systemType.name }}</td>
        {% endif %}
        <td>{{ interv.getStatusDescr()|truncate(25) }}</td>
        <td>
          <a class="btn btn-mini" href="{{ url('intervention_detail_for_installer', {id: interv.id}) }}" title="Apri...">
            <i class="icon-folder-open"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="alert alert-info">Al momento non è stato assegnato alcun intervento.</div>
  {% endif %}
</div>
{% endblock %}
