{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}


{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>{{ installer.surname ~ ' ' ~ installer.name }} <small>Scheda tecnico</small></h1>
  </div>

  <dl class="dl-horizontal">
    {{ mymacro.fieldset_row("Società", installer.company.name) }}
    {{ mymacro.fieldset_row("Cognome", installer.surname) }}
    {{ mymacro.fieldset_row("Nome", installer.name) }}
    {{ mymacro.fieldset_row("Partita IVA", installer.vatCode) }}
    {{ mymacro.fieldset_row("Email", installer.email) }}
    {{ mymacro.fieldset_row("Telef. ufficio", installer.officePhone) }}
    {{ mymacro.fieldset_row("Telef. cellulare", installer.cellularPhone) }}
    {% if installer.account is not null %}
      {{ mymacro.fieldset_row("Login", installer.account.login) }}
    {% endif %}
  </dl>

  <dl>
    <dt>Tipologia d'impianti su cui opera</dt>

    {% for ability in installer.abilities %}
    <dd>{{ ability.name }}</dd>
    {% endfor %}
  </dl>
</div>
{% endblock %}
