{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}


{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Elenco documentazione</h1>
  </div>

  {% if attachments|length > 0 %}
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Nome documento</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Operaz.</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in attachments %}
      <tr>
        <td>{{ doc.name }}</td>
        <td>{{ doc.uploadDate|date('d/m/Y H:i') }}</td>
        <td>{{ doc.getTypeDescr() }}</td>
        <td>
          <a class="btn btn-mini" href="{{ vich_uploader_asset(doc, 'document') }}" title="Apri"><i class="icon-folder-open"></i></a>
          <a class="btn btn-mini" href="{{ url('attachment_delete', {'id': doc.id}) }}" title="Elimina"><i class="icon-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="alert alert-info">Al momento non è stata caricata alcuna documentazione.</div>
  {% endif %}
</div>
{% endblock %}
