{% set secondaryMenu = 'Amministrazione' %}
{% extends 'BoilrBundle:Default:template5.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

{% block central_block %}
<h2>{{ (opType == 'add')?"Nuova":"Modifica" }} operazione</h2>

<form id="form_operation" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} >
    <fieldset>
        <legend>Dettagli gruppo d'appartenenza</legend>

        {{ mymacro.fieldset_row('Nome', parentGroup.name) }}
        {{ mymacro.fieldset_row('Descrizione', parentGroup.descr) }}
    </fieldset>

    <fieldset>
        <legend>Dettaglio operazione</legend>

        {{ form_row(form.name) }}
        {{ form_row(form.timeLength) }}
    </fieldset>

    <div style="background-color: white; opacity: 1; width: 100%; padding: 10px;">
        <a href="{{ url('operation_group_operations', {'id': parentGroup.id}) }}">Torna al dettaglio</a>
        <input type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>
{% endblock %}