{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Elenco operazioni</h1>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Descrizione</th>
        <th>Tempo</th>
        <th>Tipo risultato</th>
        <th>Operaz.</th>
      </tr>
    </thead>
    <tbody>
      {% for oper in operations %}
      <tr>
        <td>{{ oper.name }}</td>
        <td>{{ oper.timeLength }}</td>
        <td>{{ oper.getResultTypeDescr() }}</td>
        <td>
          <a class="btn btn-mini" href="{{ url('operation_edit', {id: oper.id}) }}"><i class="icon-pencil"></i></a>
          <a class="btn btn-mini" href="{{ url('operation_delete', {id: oper.id}) }}"><i class="icon-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="margin-top: 10px;">

    <a class="btn btn-small" href="{{ url('operation_add') }}">
      <i class="icon-plus"></i> Aggiungi operazione...
    </a>
  </div>
</div>
{% endblock %}