{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Assegnazione assistita intervanti <small>Selezione politica</small></h1>
  </div>

  <h3>Interventi di manutenzione <small>non ancora assegnati</small></h3>
  {% if interventions|length > 0 %}
      <div style="max-height: 250px; overflow-y: scroll">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th>Ora</th>
              <th>Cliente</th>
              <th>Stato</th>
            </tr>
          </thead>
          <tbody>
          {% set lastDate = null %}
          {% for interv in interventions %}
            <tr>
              <td>{% if lastDate != (interv.scheduledDate|date('Y-m-d')) %}{{ interv.scheduledDate | localizeddate("medium", "none") }}{% endif %}</td>
              <td>{{ interv.scheduledDate | localizeddate("none", "short") }}</td>
              <td>{{ interv.customer.fullName }}</td>
              <td>{{ interv.getStatusDescr() }}</td>
            </tr>
            {% set lastDate = interv.scheduledDate|date('Y-m-d') %}
          {% endfor %}
          </tbody>
        </table>
      </div>

      <hr>

      <h3>Tecnici disponibili <small>selezionati in base alle abilità</small></h3>
      <div style="max-height: 250px; overflow-y: scroll">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Nominativo</th>
              <th>Abilità</th>
              <th># interv.</th>
            </tr>
          </thead>
          <tbody>
          {% for installer in installers %}
            <tr>
              <td>{{ installer.name }}</td>
              <td>
                <a href="#" class="po-info" data-content="{{ installer.abilities|replace({", ": "<br>"})|raw }}" data-original-title="Tipologia d'impianti gestita">
                  {{ installer.abilities|truncate(50) }}
                </a>
              </td>
              <td>{{ installer.load }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <br/>

      <div class="row-fluid">
        <h3>Selezione algoritmo di associazione</h3>
        <br>
        <ul class="thumbnails">
          <li class="span3">
            <div class="caption">
              <h5>Carico bilanciato</h5>
              <p>Assegna gli interventi in pari misura a tutti i tecnici.</p>
              <p><a href="{{ url('intervention_preview_policy', {'name': 'policy_equal'}) }}" class="btn btn-primary">Vai</a></p>
            </div>
          </li>

          <li class="span3">
            <div class="caption">
              <h5>Saturazione tecnico</h5>
              <p>Priorità a saturare un tecnico</p>
              <p><a href="{{ url('intervention_preview_policy', {'name': 'policy_fillup'}) }}" class="btn btn-primary">Vai</a></p>
            </div>
          </li>

          <li class="span3">
            <div class="caption">
              <h5>Percorso ottimizzato</h5>
              <p>Riorganizza gli interventi giornalieri in base alla distanza, durata e percorso minimo</p>
              <p><a href="{{ url('intervention_preview_policy', {'name': 'policy_waypoint'}) }}" class="btn btn-primary">Vai</a></p>
            </div>
          </li>
        </ul>
      </div>
  {% else %}
    <br>
    <div class="alert alert-info">Tutti gli interventi risultano assegnati.</div>
  {% endif %}

</div>
{% endblock inner_block %}