{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
{% spaceless %}
<div class="control-group">
  {{ form_label(form) }}
    {% if prepend is defined %}
        {{ form_widget(form, {'prepend': prepend}) }}
    {% else %}
      {{ form_widget(form) }}
    {% endif %}
  {% if help is defined %}
    <p class="help-inline">>{{ help }}</p>
  {% endif %}
</div>
{% endspaceless %}
{% endblock field_row %}


{% block field_label %}
{% spaceless %}
    <label id="{{ id ~ '_label'}}"
           for="{{ id }}"{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}
           class="control-label{% if errors|length > 0 %} error{% endif %}">
        {{ required?'<span class="reqsymb">* </span>':'' }}{{ label|trans }}:
    </label>
{% endspaceless %}
{% endblock field_label %}


{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}

    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class':'wrong_input',
      'data-tips':errors[0].messageTemplate|trans(errors[0].messageParameters, 'validators') }) %}
    {% endif %}

    {% if simple is not defined %}<div class="controls">{% endif %}
      {% if prepend is defined %}
        <div class="input-prepend">
            <span class="add-on">{{ prepend }}</span>
      {% endif %}
      <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}"  />
      {% if suffix is defined %}{{ suffix|raw }} {% endif %}
      {% if prepend is defined %}</div>{% endif %}
      {% if simple is not defined %}</div>{% endif %}
{% endspaceless %}
{% endblock %}


{% block choice_widget %}
{% spaceless %}
  {% if simple is not defined %}<div class="controls">{% endif %}
  {% if expanded %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
      {{ form_widget(child) }}
      {{ form_label(child) }}
    {% endfor %}
    </div>
  {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}{% if errors|length > 0 %} class="wrong_input" data-tips="{{ errors[0].messageTemplate|trans(errors[0].messageParameters, 'validators') }}"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
    {% endif %}
  {% if simple is not defined %}</div>{% endif %}
{% endspaceless %}
{% endblock choice_widget %}