{% extends 'BoilrBundle:Default:template5-admin.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block inner_block %}
<div class="span9">
  <h2>{{ (opType == 'add')?"Nuova":"Modifica" }} sezione</h2>

  <form id="form_template" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
        <legend>Dettaglio sezione</legend>

        {{ form_row(form.name) }}
    </fieldset>

    <div class="form-actions">
      <a class="btn" href="{{ url('template_section_list', {id: template.id}) }}">
        <i class="icon-arrow-left"></i> Torna al dettaglio
      </a>
      <input class="craue_formflow_button_last btn btn-primary" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}