{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block extra_header %}
<style>
#table_bind_operations label {
    width: 90%;
    text-align: left;
}
</style>
{% endblock %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Associazione controlli <small>sezione "{{ section.name }}" del modello "{{ section.template.name }}"</small></h1>
  </div>

  <form id="form_operation" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
      <legend>Elenco dei controlli disponibili</legend>

      <table id="table_bind_operations" class="table table-condensed table-striped">
      {% for oper in form.operations %}
          <tr>
              <td>{{ form_widget(oper) }}</td>
              <td>{{ form_label(oper) }}</td>
          </tr>
      {% endfor %}
      </table>
    </fieldset>

    <div class="form-actions">
        <a class="btn" href="{{ url('template_section_list', {id: section.template.id}) }}">
          <i class="icon-arrow-left"></i> Torna al dettaglio
        </a>
        <input class="btn btn-primary" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
  </form>
</div>
{% endblock %}