{% extends 'BoilrBundle:Default:template5-admin.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block extra_header %}
<style>
#table_bind_operations label {
    width: 90%;
    text-align: left;
}
</style>
{% endblock %}

{% block inner_block %}
<div class="span9">
<h2>Associazione controlli alla sezione "{{ section.name }}" del modello "{{ section.template.name }}"</h2>

<form id="form_operation" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
        <legend>Elenco dei controlli disponibili</legend>

        <table id="table_bind_operations" class="table table-condensed table-striped">
        {% for key,oper in form.operations %}
            <tr class="{{ cycle(['odd', 'even'], key) }}">
                <td>{{ form_widget(oper) }}</td>
                <td>{{ form_label(oper) }}</td>
            </tr>
        {% endfor %}
        </table>
    </fieldset>

    <div class="form-actions">
        <a class="btn" href="{{ url('template_section_list', {id: section.template.id}) }}">
          <i class="icon-arrow-left"></i> Torna al dettaglio
        </a>
        <input class="btn btn-primary" type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>
</div>
{% endblock %}