{% set secondaryMenu = 'Anagrafica' %}
{% extends 'BoilrBundle:Default:template5.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block central_block %}
<h2>Registrazione contratto d'assistenza programmata</h2>

<form id="form_contract" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} >

    {% include 'BoilrBundle:Person:_anag.html.twig' with {'person': system.owner, 'allFields': false} %}

    <fieldset>
        <legend>Dettagli Contratto</legend>

        <div><label>Data inizio:</label>{{ form_widget(form.startDate, {'attr': {'class': 'jdate'}}) }}</div>
        <div><label>Data termine:</label>{{ form_widget(form.endDate, {'attr': {'class': 'jdate'}}) }}</div>
    </fieldset>

    <div style="background-color: white; opacity: 1; width: 100%; padding: 10px;">
        <a href="{{ url('show_person', {'id': system.owner.id}) }}">Torna al dettaglio</a>
        <input type="submit" value="Salva" />
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    /* <![CDATA[ */

    $(function() {
        $(".jdate").datepicker();
    });

    /* ]]> */
</script>
{% endblock %}
