{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Registrazione contratto <small>assistenza programmata</small></h1>
  </div>

  <form id="form_contract" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:Person:_anag.html.twig' with {'person': system.owner, 'allFields': false, 'title': 'Dati cliente'} %}

    <fieldset>
        <legend>Dettagli Contratto</legend>

        <dl class="dl-horizontal well">
          {{ mymacro.fieldset_row('Tipologia impianto', system.systemType.name) }}
          {{ mymacro.fieldset_row('Descriz. impianto', system.descr) }}
          {{ mymacro.fieldset_row('Collocaz. impianto', system.address.address) }}
        </dl>

        {{ form_row(form.startDate, {'attr': {'class': 'jdate'}}) }}
        {{ form_row(form.endDate, {'attr': {'class': 'jdate'}}) }}
    </fieldset>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Salva" />
        <a class="btn" href="{{ url(app.session.get('last_route').name, app.session.get('last_route').params) }}">Annulla</a>
    </div>

    {{ form_rest(form) }}
    {{ form_errors(form) }}
</form>
</div>
{% endblock %}