{% extends 'BoilrBundle:Default:template_three_cols.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block central_block %}
<h2>Nuovo tipo di contratto</h2>

<form action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <legend>Nuovo contratto</legend>

        {{ form_row(form.name) }}
        {{ form_row(form.periodicity) }}
    </fieldset>

    <div>
        <button type="reset">Reset</button>
        <button type="submit">Crea</button>
    </div>

    {{ form_rest(form) }}
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    
</script>
{% endblock %}