{% extends 'BoilrBundle:Person:person-base.html.twig' %}
{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

{% block inner_block %}
<div class="span9">
  <h2>Elenco aziende</h2>

  <fieldset>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Indirizzo</th>
          <th>Città</th>
          <th>Operaz.</th>
        </tr>
      </thead>
      <tbody>
      {% for key,item in companies %}
        <tr class="{{ cycle(['odd', 'even'], key) }}">
          <td>{{ item.name }}</td>
          <td>{{ item.street }}</td>
          <td>{{ item.city }}</td>
          <td>
            <a href="{{ url('company_edit', {cid: item.id}) }}"><i class="icon-pencil"></i></a>
            <a href="{{ url('company_delete', {id: item.id}) }}"><i class="icon-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
       </tbody>
    </table>
  </fieldset>

  <div style="margin-top: 10px;">
    <a class="btn btn-small" href="{{ url('company_add') }}">
        <i class="icon-plus"></i> Aggiungi
    </a>
  </div>
</div>
{% endblock %}