<!doctype html>
<html lang="it">
<head>
    <title>{% block title %}Boilr{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Thesis project" />
    <meta name="keywords" content="thesis php symfony2 symfony mysql" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/boilr_common.css') }}"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/forms.css') }}"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/tipsy.css') }}"/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/jquery-ui-1.8.7.custom.css') }}"/>
    {#
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/datatable.css') }}"/>
    #}

    {% javascripts
        '@BoilrBundle/Resources/private/js/jquery-1.6.2.min.js'
        '@BoilrBundle/Resources/private/js/jquery-ui-1.8.16.custom.min.js'
        '@BoilrBundle/Resources/private/js/jquery.ui.datepicker-it.js'
        '@BoilrBundle/Resources/private/js/jquery.tipsy.js'
        '@BoilrBundle/Resources/private/js/jquery.dataTables.js'
        '@BoilrBundle/Resources/private/js/jquery.dataTables.reloadAjax.js'
        '@BoilrBundle/Resources/private/js/Scroller.js'
        output="js/boilr.js" filter='yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="/js/jquery.dynamicTable.js"></script>

    {% block extra_header %}
    {% endblock %}

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="container" >
        <header id="header">
            <h2>Boilr</h2>

            {# First level menu #}
            <div id="primary-menu">
                {% spaceless %}
                {{ knp_menu_render('BoilrBundle:Builder:topMenu', {'depth': 1}, 'boilr_menu_renderer' ) }}
                {% endspaceless %}
            </div>
            {# End of First level menu #}

            {# Second level menu, if any #}
            {% if secondaryMenu is defined %}
                {% spaceless %}
                <div id="secondary-menu">
                    {{ knp_menu_render(['BoilrBundle:Builder:topMenu', secondaryMenu], {}, 'boilr_menu_renderer') }}
                </div>
                {% endspaceless %}
            {% endif %}
            {# End of Second level menu #}
        </header>

        <div id="wrapper" class="clearfix">
            {# Flash messages #}
            {% if app.session.hasFlash('notice') %}
                <div class="ui-widget" style="padding-top:10px">
                    <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                        <strong>Info:</strong>&nbsp;{{ app.session.flash('notice') }}</p>
                    </div>
                </div>
            {% endif %}

            {% if app.session.hasFlash('error') %}
                <div class="ui-widget" style="padding-top:10px">
                    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        <strong>Errore:</strong>&nbsp;{{ app.session.flash('error') }}</p>
                    </div>
                </div>
            {% endif %}
            {# End of Flash messages #}

            <div id="maincol">
                {% block central_block %}
                {% endblock %}
            </div>
        </div> <!-- End of "wrapper" -->

        <footer id="footer">
            <p>Ferruccio Vitale - Università degli studi "Carlo Bo" - Urbino</p>
        </footer>
    </div> <!-- End of "container" -->

    <script type="text/javascript">
        /* <![CDATA[ */
        $(function() {
            $.datepicker.setDefaults($.datepicker.regional['it']);

            $('.wrong_input').tipsy( {
                trigger: 'focus',
                gravity: $.fn.tipsy.autoNS,
                title: 'data-tips' }
            );
        });
        /* ]]> */
    </script>

    {% block javascripts %}
    {% endblock %}
</body>
</html>