<!doctype html>
<html lang="it">
  <head>
    <title>Boilr</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Thesis project" />
    <meta name="keywords" content="thesis php symfony2 symfony mysql" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {% stylesheets filter='less,cssembed,?yui_css'
            "@BoilrBundle/Resources/public/css/bootstrap.css"
            "@BoilrBundle/Resources/public/css/bootstrap-responsive.css"
            "@BoilrBundle/Resources/public/css/calendar.css"
            "@BoilrBundle/Resources/public/css/boilr-common.css"
	  output="css/boilr.css"  %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet"	media="screen" />
    {% endstylesheets %}

    {% block extra_header %}
    {% endblock %}

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Boilr</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{ url('homepage') }}">Home</a></li>
            </ul>

            <!-- account dropdown menu -->
            <ul class="nav pull-right">
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Connesso come <strong>{{ app.security.getToken().getUser().login }}</strong>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Account</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url('_security_logout') }}">Disconnetti</a></li>
                </ul>
              </li>
            </ul>
            <!-- end of account dropdown menu -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            {% block sidebar %}
                {{ knp_menu_render('BoilrBundle:Builder:personSubMenu', {'header': 'Anagrafica clienti'}, 'boilr_menu_renderer' ) }}
                {{ knp_menu_render('BoilrBundle:Builder:interventionMenu', {'header': 'Interventi'}, 'boilr_menu_renderer' ) }}
                {% if is_granted('ROLE_INSTALLER' ) %}
                  {{ knp_menu_render('BoilrBundle:Builder:installerMenu', {'header': 'Installatori'}, 'boilr_menu_renderer' ) }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN' ) %}
                  {{ knp_menu_render('BoilrBundle:Builder:adminMenu', {'header': 'Amministrazione'}, 'boilr_menu_renderer' ) }}
                {% endif %}
            {% endblock %}
          </div>
        </div>

        {# error flash message #}
        {% if app.session.hasFlash('error') %}
        <div class="span9">
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <span class="label label-important">Errore</span> {{ app.session.flash('error') }}
          </div>
        </div>
        {% endif %}

        {# notice flash message #}
        {% if app.session.hasFlash('notice') %}
        <div class="span9">
          <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            <span class="label label-info">Info</span> {{ app.session.flash('notice') }}
          </div>
        </div>
        {% endif %}

        {% block inner_block %}
        {% endblock %}
      </div><!--/row-->

      {% block rows %}
      {% endblock rows %}
      <hr>

      <footer>
         <p class="pull-right">Prof. Maurizio Maffi</p>
        <p>&copy; Ferruccio Vitale - Università degli studi "Carlo Bo" - Urbino</p>
      </footer>
    </div><!--/.fluid-container-->

    {% javascripts
          '@BoilrBundle/Resources/private/js/jquery.js'
          '@BoilrBundle/Resources/private/js/jquery-ui-1.8.19.custom.min.js'
          '@BoilrBundle/Resources/private/js/jquery.ui.datepicker-it.js'
          '@BoilrBundle/Resources/private/js/jquery.dataTables.js'
          '@BoilrBundle/Resources/private/js/jquery.dataTables.reloadAjax.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
          '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
          '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
          '@BoilrBundle/Resources/private/js/boilr-common.js'
          output="js/boilr.js" filter='yui_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}
    {% endblock %}
  </body>
</html>