{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% if title is not defined %}
  {% set title = "Dati anagrafici" %}
{% endif %}

<div class="well">
  <h3>{{ title }}</h3>

  <dl class="dl-horizontal">
    {{ mymacro.fieldset_row('Tipo', person.getTypeAsString()) }}
    {{ mymacro.fieldset_row('Titolo', person.title|default('-')) }}
    {{ mymacro.fieldset_row('Nome', person.name) }}
    {{ mymacro.fieldset_row('Cognome', person.surname) }}
    {{ mymacro.fieldset_row('Codice fiscale', person.fiscalCode|default('-')) }}
    {{ mymacro.fieldset_row('Partita IVA', person.vatCode|default('-')) }}
  </dl>
</div>

{% if allFields %}
<div class="well">
  <h3>Recapiti</h3>

  <dl class="dl-horizontal">
    {{ mymacro.fieldset_row('Casa', person.homePhone|default('-')) }}
    {{ mymacro.fieldset_row('Ufficio', person.officePhone|default('-')) }}
    {{ mymacro.fieldset_row('Cellulare', person.cellularPhone|default('-')) }}
    {{ mymacro.fieldset_row('FAX', person.faxNumber|default('-')) }}
    {{ mymacro.fieldset_row('Email primaria', person.primaryMail|default('-')) }}
    {{ mymacro.fieldset_row('Email alternativa', person.secondaryMail|default('-')) }}
  </dl>
</div>
{% endif %}