{% import "BoilrBundle:Common:macros.html.twig" as mymacro %}

<div>
{% if person.systems | length > 0 %}
  <table id="userSystems" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Prodotto</th>
        <th>Install.</th>
        <th>Ultima manut.</th>
        <th>Seriale</th>
        <th>Descr.</th>
        {% if toolbar is defined and toolbar == true %}
          <th title="In assistenza?">A</th>
          <th>Operaz.</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for value in person.systems %}
      {% set hasContract = value.isUnderAssistance() %}
      <tr>
        <td>{{ value.systemType.name }}</td>
        <td>{{ value.product.name }}</td>
        <td>{{ value.installDate | date ('d-m-Y') }}</td>
        <td>{{ value.lastManteinance | date ('d-m-Y') }}</td>
        <td>{{ value.code }}</td>
        <td>{{ value.descr }}</td>
        {% if toolbar is defined and toolbar == true %}
          <td>{{ mymacro.imgcheck_if_true(hasContract) }}</td>
          <td>
            <a class="btn btn-mini" href="{{ url('system_show', {'id': value.id} ) }}">
              <i class="icon-folder-open" title="Dettagli"></i>
            </a>
            {% if hasContract == false %}
              <a class="btn btn-mini" href="{{ url('add_contract', {'id': value.id} ) }}">
                <i class="icon-shopping-cart" title="Aggiungi contratto"></i>
              </a>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-info">Nessun impianto.</div>
{% endif %}

  {% if toolbar is defined and toolbar == true %}
  <div style="margin-top: 10px;">
    <a class="btn btn-small" href="{{ url('system_add', {'pid': person.id}) }}">
      <i class="icon-plus"></i> Aggiungi
    </a>
  </div>
  {% endif %}
</div>

