{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Creazione nuovo contatto <small>passo {{ flow.getCurrentStep() }} di {{ flow.getMaxSteps() }}</small></h1>
  </div>

  <form id="form_newpersonn" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">

    {% include 'BoilrBundle:Person:new_step' ~ flow.getCurrentStep() ~ '.html.twig' with {'form': form } %}

    <div style="display: none">{{ form_rest(form) }}</div>
    {{ form_errors(form) }}

    {% include 'BoilrBundle:Form:buttons.html.twig' %}
  </form>
</div>
{% endblock %}


{% block javascripts %}
{% include 'BoilrBundle:Person:new_step' ~ flow.getCurrentStep() ~ '.js.twig'  %}
{% endblock %}