{#
{% macro prototype(item) %}
{% spaceless %}
    <tr>
        <td>{{ form_widget(item.systemType) }}</td>
        <td>{{ form_widget(item.product) }}</td>
        <td>{{ form_widget(item.installDate) }}</td>
        <td>{{ form_widget(item.lastManteinance) }}</td>
        <td>{{ form_widget(item.code) }}</td>
        <td>{{ form_widget(item.descr) }}</td>
        <td class="icons">
            <a class="btn btn-small addrow" href="#"><i class="icon-plus"></i></a>
            <a class="btn btn-small removerow" href="#"><i class="icon-minus"></i></a>
        </td>
    </tr>
{% endspaceless %}
{% endmacro %}

<script type="text/html">
    {{ _self.prototype(form.systems.get('prototype')) }}
</script>

<fieldset>
  <legend>Impianti</legend>

  <table id="systems" class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>Tipo <span class="reqsymb">*</span></th>
        <th>Prodotto <span class="reqsymb">*</span></th>
        <th>Install. <span class="reqsymb">*</span></th>
        <th>Ultima manut.</th>
        <th>Seriale <span class="reqsymb">*</span></th>
        <th colspan="2">Descr. <span class="reqsymb">*</span></th>
      </tr>
    </thead>
    <tbody>
    {% for item in form.systems %}
      {{ _self.prototype(item) }}
    {% endfor %}
    </tbody>
  </table>

  <div style="margin-top: 10px;">
    <a id="addSystem" href="#" class="btn"><i class="icon-plus"></i> Aggiungi</a>
  </div>
</fieldset>

{{ form_widget(form.systems) }}

<fieldset>
  <legend>Impianti</legend>

  {{ form_widget(form) }}
</fieldset>
#}
{% include 'BoilrBundle:Person:_anag.html.twig' with {'person': person, 'allFields': true } %}

{% include 'BoilrBundle:Person:_addresses.html.twig' with {'person': person } %}
