{% macro prototype(item) %}
{% spaceless %}
    <tr>
        <td>{{ form_widget(item.type, {simple: true}) }}</td>
        <td>{{ form_widget(item.street, {simple: true}) }}</td>
        <td>{{ form_widget(item.postalCode, {'attr': {'class': 'cap'}, simple: true} ) }}</td>
        <td>{{ form_widget(item.city, {simple: true}) }}</td>
        <td>{{ form_widget(item.province, {simple: true}) }}</td>
        <td>{{ form_widget(item.state, {simple: true}) }}</td>
        <td class="icons">
            <a class="addrow btn btn-small" href="#"><i class="icon-plus"></i></a>
            <a class="removerow btn btn-small" href="#"><i class="icon-minus"></i></a>
        </td>
    </tr>
{% endspaceless %}
{% endmacro %}

<script type="text/html">
    {{ _self.prototype(form.addresses.get('prototype')) }}
</script>

<fieldset>
  <legend>Indirizzi</legend>

  <table id="addresses" class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>Tipo <span class="reqsymb">*</span></th>
        <th>Via <span class="reqsymb">*</span></th>
        <th>CAP <span class="reqsymb">*</span></th>
        <th>Città <span class="reqsymb">*</span></th>
        <th>Prov. <span class="reqsymb">*</span></th>
        <th colspan="2">Stato. <span class="reqsymb">*</span></th>
      </tr>
    </thead>
    <tbody>
    {% for key, item in form.addresses %}
      {{ _self.prototype(item) }}
    {% endfor %}
    </tbody>
  </table>

  <div style="margin-top: 10px;">
    <a href="#" id="addAddress" class="btn"><i class="icon-plus"></i> Aggiungi</a>
  </div>
</fieldset>

{{ form_widget(form.addresses) }}
