<fieldset>
  <legend>Dati anagrafici</legend>

  <div class="control-group">
    <label class="control-label">Tipologia contatto</label>

    <div class="controls">
      <label class="checkbox inline">{{ form_widget(form.isCustomer, {simple: true}) }} Cliente</label>
      <label class="checkbox inline">{{ form_widget(form.isInstaller, {simple: true}) }} Installatore</label>
      <label class="checkbox inline">{{ form_widget(form.isAdministrator, {simple: true}) }} Amministratore di condominio</label>
    </div>
  </div>
  {{ form_row(form.type) }}
  {{ form_row(form.title) }}
  {{ form_row(form.name) }}
  {{ form_row(form.surname) }}
  {{ form_row(form.fiscalCode) }}
  {{ form_row(form.vatCode) }}
</fieldset>

<fieldset>
  <legend>Recapiti</legend>

  {{ form_row(form.homePhone) }}
  {{ form_row(form.officePhone) }}
  {{ form_row(form.cellularPhone) }}
  {{ form_row(form.faxNumber) }}
  {{ form_row(form.primaryMail, {prepend: '@'}) }}
  {{ form_row(form.secondaryMail, {prepend: '@'}) }}
</fieldset>