{% extends 'BoilrBundle:Default:template5-base.html.twig' %}
{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

{% block extra_header %}
    {% if person.addresses | length > 0 %}
        {{ vichgeo_include_js() }}
        {{ vichgeo_include_css() }}
    {% endif %}
{% endblock %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>{{ person.fullName }} <small>Scheda anagrafica</small></h1>
  </div>

  <ul class="nav nav-tabs" id="tabs">
    <li><a href="#fragment-1" data-toggle="tab"><span>Anagrafica</span></a></li>
    <li><a href="#tabAddresses" id="aAddresses" data-toggle="tab"><span>Indirizzi</span></a></li>
    <li><a href="#fragment-3" data-toggle="tab"><span>Impianti</span></a></li>
    <li><a href="#tabContracts" data-toggle="tab"><span>Assistenza</span></a></li>
  </ul>

  <div class="tab-content">
    <div id="fragment-1" class="tab-pane active">
      {% include 'BoilrBundle:Person:_anag.html.twig' with { 'person': person, 'allFields': true } %}

      <div style="margin-top: 10px;">
        <a class="btn btn-small" title="Modifica anagrafica" href="{{ url('person_registry_edit', {id: person.id}) }}">
          <i class="icon-pencil"></i> Modifica
        </a>
      </div>
    </div>

    <div id="tabAddresses" class="tab-pane">
        {% include 'BoilrBundle:Person:_addresses.html.twig' with { 'person': person, 'toolbar': true } %}

        {% if person.addresses | length > 0 %}
            <div>{{ vichgeo_map_for('location', person.addresses) }}</div>
            <div style="margin-top: 10px;">
                <a class="btn btn-small" title="Centra" onClick="console.log(addressesMap.getZoom());addressesMap.fitBounds(addressesMapBounds);">
                  <i class="icon-resize-full"></i> Zoom
                </a>
            </div>
        {% endif %}
    </div>

    <div id="fragment-3" class="tab-pane">
        {% include 'BoilrBundle:Person:_systems.html.twig' with { 'person': person, 'toolbar': true } %}
    </div>

    <div id="tabContracts" class="tab-pane">
        {% include 'BoilrBundle:Person:_contracts.html.twig' with { 'person': person } %}

        {% if interventions | length > 0 %}
        <fieldset>
            <legend>Calendario prossimi interventi</legend>

            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Stato</th>
                  <th>Impianto</th>
                  <th>Programmato</th>
                </tr>
              </thead>
              <tbody>
                {% for key,mi in interventions %}
                <tr class="{{ cycle(['odd', 'even'], key) }}">
                  <td>
                    <a href="{{ url('list_all_interventions', { year : mi.scheduledDate|date('Y'), month: mi.scheduledDate|date('m')} ) }}">
                      {{ mi.scheduledDate | localizeddate("medium", "short") }}
                    </a>
                  </td>
                  <td>{{ mi.getStatusDescr() }}</td>
                  <td>
                    {% spaceless %}
                      {% if mi.details|length == 1 %}
                        {{ mi.details[0].system.descr }}
                      {% else %}
                        {{ mi.details | length }} impianti
                      {% endif %}
                    {% endspaceless %}
                  </td>
                  <td>{{ mymacro.imgcheck_if_true(mi.isPlanned) }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}

        {% if person.systems | length > 0 %}
        <div style="margin-top: 10px;">
            <a class="btn btn-small" title="Intervento non programmato" href="{{ url('unplanned_intervention_add', {id: person.id}) }}">
              <i class="icon-time"></i> Aggiungi intervento non programmato
            </a>
        </div>
        {% endif %}
    </div>
  </div>

</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    /* <![CDATA[ */

    $(function() {
      $('#tabs a:first').tab('show');

      $('a[data-toggle="tab"]').on('shown', function (e) {
            if (e.target.id == 'aAddresses') {
                $('#addressMapContainer').css('width', '100%');
                google.maps.event.trigger(addressesMap, "resize");
                addressesMap.fitBounds(addressesMapBounds);
                {% if person.addresses | length == 1 %}
                addressesMap.setZoom( addressesMap.getZoom()-6 );
                {% endif %}
            }
      });
    });

    /* ]]> */
</script>
{% endblock %}